body{
  margin-top: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  max-width: 650px;
  margin: 0 auto;
  height: 550px;
  top: 20px;
  background: linear-gradient(#84def0, #a0f096);
  box-shadow: 5px 5px 10px 10px rgba(59, 59, 59, 0.1);
  display: block;
  padding: 20px;
  border: 0;
  border-radius: 15px;
}
#current-city-temp{
 font-size: 35;
  top: 15px;
  margin:0 0 0 10px;
}

.city {
  position: relative;
  left: 18px;
}
.form-control {
  max-width: 65%;
  display: inline;
  position: relative;
  top: 2px;
}

.city-name {
  font-size: 50px;
  font-weight: bold;
  position: relative;
  top: 15px;
  margin: 0 0 30px 0;
  left: 18px;
}

.temp-kyiv-sun {
  font-size: 50px;
  font-weight: 400;
  text-decoration: none;
}

.weather-rows {
  width: 100%;
  line-height: 2;
  position: relative;
  top: 55px;
  text-align: center;
  font-size: 22px;
  right: 22px;
  left: 0;
  font-weight: 450;
}

#icon{
  margin:30px 0 0 0;
  font-weight: 100px;
  size: 50px;
}

#celsius-link,
#fahrenheit-link, .slash{
  padding: 0;
  margin: 0;
font-size: 20px;
  position: relative;
  top: -20px;
  text-decoration: none;
}
.source-code {
  text-decoration: none;
  display: inline;
}
.author {
  margin: 0 auto;
  display: block;
  position: relative;
  text-align: center;
  top: 10px;
}


li {
  list-style: none;
  font-weight: 500;
}
ul{
    padding: 0;
    margin: 0;
    text-align: left;
}
.search-city {
  display: inline;
}
#current-unit-temp{
  
  font-weight: 600;
  font-size: 50px;
}
#win-hum{
  padding-left: 80px;
}
.active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.active:hover {
  text-decoration: none;
}